:root {
  --branco-principal: #FFFFFF;
  --cinza-secundario: #C0C0C0;
  --botao-azul: #167BF7;
  --cor-de-fundo: #00030C;
  --fonte-principal: 'Poppins', sans-serif;

  --botao-azul-efeito: #3c92fa;
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

.principal {
  background-image: url("https://e0.pxfuel.com/wallpapers/665/68/desktop-wallpaper-the-princess-and-the-frog-princess-tiana.jpg ");
  background-repeat: no-repeat;
  background-size: cover;

}

.container {https://lumiere-a.akamaihd.net/v1/images/91431228_10157503535967620_321057554224381952_o_d49b0dea.jpeg?download=true
  height: 100vh;
  /* background-color: red; */
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__botao {
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
  text-decoration: none;
  display: block;
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border: 2px solid var(--branco-principal);

}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__aviso {
  font-size: 12px;
  color: var(--cinza-secundario);
}

.container__caixa {
  margin: 0 6cm;

}

.container__imagem {
  margin: 1 cm 0 2cm 0;
}

.principal {
  align-items: center;
  text-align: center;
}

.container__botao {
  margin-bottom: 1em;
}

.planoFundo {
  background-image: url("https://lumiere-a.akamaihd.net/v1/images/91431228_10157503535967620_321057554224381952_o_d49b0dea.jpeg?download=true");
  background-repeat: no-repeat;
background-size: cover;
}

.secundario {
  align-items: center;
  margin: 0 6em;

}



.secundario__imagem {
  width: 80%;
}

.descriçao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 0.1em;
}

.descriçao__texto {
  color: #C0C0C0;
  line-height: 150%;
}

.container__descricao {
  padding: 2em;
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
}

.titulo2 {
  color: red;
}

.dispositivos__lista{
  display: flex;
  text-align: center;
  justify-content: center;
}